/*-----Contact-----*/
.in-contact{
    display: flex;
    background: rgb(60, 95, 95);
}

#all-in-contact{
    display: flex;
    margin-left: 30px;
}

#about-us,
#get-in-touch,
#social-media{
    margin: 30px;
}

.social > a > i {
    padding: 10px;
    font-size: 40px;
    color: rgb(41, 198, 219);
}

/*-----Footer-----*/
footer{
    height: 40px;
    display: flex;
    color: #ffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgb(41, 198, 219);
}